/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import 'bootstrap';
 @import 'bootstrap-responsive';

 body {
 	padding: 0px 30px;
 	padding-top: 41px;
 }

 h1 {
 	text-align:  center;
 }

 input {
 	display: block !important;

 }

 label {
 	font-weight: bold;
 }

 .btn {
 	margin-top: 30px;
 }

 #new-project-link, #project-index-link {
 	display: block;
 	text-align: center;
 }